.view-actions {
    display: flex;
    align-items: center;
}

.view-btn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: var(--main-color);
    margin-left: 8px;
    transition: 0.2s;
}

.view-btn.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
}

.view-btn:not(.active):hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
}